main div {
  margin: 0; /* 要素の外側の余白を0に定義 */
  padding: 0; /* 要素の内側の余白を0に定義 */
}

.right2 {
  float:right;
  width:70%;
  background-color: #ddd;
  overflow: auto;
}

.left {
  float: left;
  height: 480px; /* 要素の縦幅を50%に定義 */
  width: 48%; /* 要素の横幅を50%に定義 */
  background-color: #aaa; /* 視覚化のための背景色 */
  overflow: hidden;
}

.right {
  float: right;
  height: 100px; 
  width: 70%;
  background-color: #ddd; /* 視覚化のための背景色 */
  overflow: auto;
}  

.right1 {
  float: right;
  height: 480px; /* 要素の縦幅を50%に定義 */
  width: 48%; /* 要素の横幅を50%に定義 */
  background-color: #ddd; /* 視覚化のための背景色 */
}

div {
  overflow: auto;
}



.selectwrap {
  position: relative;
  width: 300px;
  margin: 20px;
}
.selectwrap::after {
  position: absolute;
  top: 30%; /* 矢印の位置 */
  right: 15px; /* 矢印の位置 */
  width: 10px; /* 矢印の大きさ */
  height: 10px; /* 矢印の大きさ */
  border-top: 3px solid #58504A; /* 矢印の線 */
  border-right: 3px solid #58504A; /* 矢印の線 */
  -webkit-transform: rotate(135deg); /* 矢印の傾き */
  transform: rotate(135deg); /* 矢印の傾き */
  pointer-events: none; /* 矢印部分もクリック可能にする */
  content: ""; 
}
.select {
  appearance: none; /* デフォルトの矢印を消す */
  width: 300px; /* セレクトボックスの幅 */
  height: 45px; /* セレクトボックスの高さ */
  background-color: #D3EED4;  /* セレクトボックスの背景色 */
  border: none; /* セレクトボックスのデフォルトの枠線を消す */
  border-radius: 2px;  /* セレクトボックスの四隅の丸み */
  color: #58504A;  /* セレクトボックスの文字色 */
  font-family: 'Kiwi Maru', serif;
  padding: 10px; /* セレクトボックスの内側の余白 */
  cursor: pointer;
}
select:focus {
  outline: none; /* focus 時のデフォルトの枠線を消す */
}
::-ms-expand {
  display: none;  /* IE 対応( select のデフォルト矢印を消す) */
}
.selectwrap2::after {
  position: absolute;
  top: 30%;
  right: 18px;
  width: 10px;
  height: 10px;
  font-family: "Font Awesome 5 Free"; /* Font Awesome を指定 */
  font-weight: bold; /* ここを bold 指定しないと表示されないアイコンがある */
  pointer-events: none; 
  content: "\f063"; /* Font Awesome の Unicode */
  color: #58504A;
}
.selectwrap3::after {
  position: absolute;
  width: 24px; /* 画像の幅 */
  height: 24px; /* 画像の高さ */
  background-image: url('./arrow.svg'); /* 画像のパスを指定 */
  top: 25%;
  right: 10px;
  color: #58504A;
  pointer-events: none; 
  content: '';
}



.tab-group{
  display: flex;
  justify-content: center;
}
.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border:solid 1px #CCC;
  text-align:center;
  cursor:pointer;
}
.panel-group{
  height: 410px;
  border:solid 1px #CCC;
  border-top:none;
  background:#eee;
}
.panel{
  display:none;
}
.tab.is-active{
  background:#F00;
  color:#FFF;
  transition: all 0.2s ease-out;
}
.panel.is-show{
  display:block;
}